.card {
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0px;
    margin: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .bootcamp-card-title {
    padding-top: 16px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    gap: 20px;  
  }

  .bootcamp-card-date{
    padding-left: 16px;
    font-weight: bold;
  }

  .bootcamp-card-title img{
    width: 15px;
    height: 15px;
  }
  .bootcamp-banner{
    width: 100%;
  }
  
  .card-content {
    margin-top: 8px;
  }
  
  .card-content h2 {
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0;
    color: #080132
  }
  
  .card-content p {
    margin: 12px 0;
    color: orangered;
  }
  
 