.footerText{
   display: flex;
   flex-direction: column;
    justify-content: center;
    color: #4D4D4D;
    font-family: sans-serif;
    font-size: 13px;
    margin: 3%;
}


.footerText a{
    text-decoration: underline;
    color: #4D4D4D;
    font-family: sans-serif;

}

.paragrafFooter{
    padding-bottom: 5%;
    align-self: center;
    
}

.footerLinks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: space-between;

}
