.button-atom {
    width: 250px;
    height: 45px;
    padding: 10px 20px;
    margin: auto;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    color: white; text-align: center;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.orange {
    background-color: #FF4700;
}
.orange:hover{
    background-color: #ff5e1f;
}
.white {
    background-color: #ffffff;
    color: #080132;
}
.white:hover {
    background-color: #d1d1d1;
}
  