.button-atom {
    
    font-family:Arial, Helvetica, sans-serif; 
    height: 30px;
    width: 100px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: white; text-align: center;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .orangered{
    background-color:orangered;
  }
  