.navbar {
    background-color: #080132;
    color: white;
    height: 67px;
    width: 90%; 
    padding: 10px 0px 10px 10%; 
    display: flex;
    align-items: center;
}
.text {
    color: rgb(255, 255, 255);
    font-size: 13pt;
    font-weight: 400;
    color: #B1AFBA;
}
.text span {
    font-size: 16pt;
    font-weight: 700;
    color: white;
}