.user-card-container{
    background-color: #fff;
    width: 100%;
    height: 10vh;
    display: flex;
    gap: 7%;
    /* padding: 2% 15%; */
    align-items: center;
    border-bottom: 1px solid #c2c2c2; 
}

.user-card-container:hover{
    outline: 4px solid #FF4700;
    /* background-color: #f9dcd0cf; */
    background-color: #f7f2f0cf;
}

.user-card-profile-picture-container{
    width: 17%;
    border-radius: 50%;
    padding: 2% 0 0 8%;
}
.user-card-profile-picture{
    width: 80%;
}
.user-card-profile-name-text{
    color: #080132;
    font-size: 22px;
    font-weight: 700;
}
.user-card-complete{
    padding-top: 5%;
    font-size: 15px;
    color: #4B9539;
}

.user-card-inprogress{
    padding-top: 5%;
    font-size: 15px;
    color: #4D4D4D;
}
