.user-card-container{
    background-color: #fff;
    width: 100%;
    height: 10vh;
    display: flex;
    gap: 7%;
    padding: 2% 15%;
    align-items: center;
    border-bottom: 1px solid #4D4D4D; 
}

.user-card-profile-picture-container{
    width: 17%;
    border-radius: 50%;
}
.user-card-profile-picture{
    width: 100%;
}

h2{
    color: #080132;
    font-weight: 800;
}
.user-card-complete{
    padding-top: 5%;
    font-size: 15px;
    color: #4B9539;
}
